.button {
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
}

.primary {
  background-color: #b58e01;
  color: #fff;
}

.secondary {
  background-color: #161616;
  color: #fff;
  border-width: 0px;
  padding: 11px 16px;
}
.clear {
  background-color: transparent;
  border-width: 0px;
  color: #9a9a9a;
  font-size: 20px;
}
.clear:hover {
  color: white;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
}
