.movieCard {
  display: flex;
  background-color: rgb(5, 20, 43);
  border-radius: 8px;
  width: 50vw;
  margin-top: 300px;
  margin-bottom: 100px;
}

.imageColumn {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin: 20px;
}

.movieDetails {
  padding-left: 20px;
}

.detailsColumn {
  flex: 1;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.originalTitle {
  font-size: 18px;
  margin-bottom: 10px;
}
.genresTitle {
  color: rgb(84, 144, 211);
  margin-bottom: 10px;
}
.genres {
  border-bottom: 1px solid rgb(119, 118, 118, 0.3);
  padding-bottom: 10px;
  color: rgb(181, 181, 179);
}

.genre {
  margin-right: 10px;
  font-size: 14px;
}

.overview {
  color: rgb(84, 144, 211);
  margin-top: 40px;
  margin-bottom: 10px;
}

.sectionTitle {
  color: rgb(84, 144, 211);
  margin: 10px 0px;
}
.rightSectionTitle {
  color: rgb(84, 144, 211);
  margin: 20px 0px;
}
.sectionTxt {
  color: rgb(181, 181, 179);
  padding-bottom: 10px;
}
.overviewTxt {
  color: rgb(181, 181, 179);
}
.votesBox {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.runtimeTxt {
  padding-bottom: 10px;
  color: rgb(181, 181, 179);
}
.episodesTxt {
  padding-bottom: 10px;
  color: rgb(181, 181, 179);
}
.seasonsTxt {
  padding-bottom: 10px;
  color: rgb(181, 181, 179);
  border-bottom: 1px solid rgb(119, 118, 118, 0.3);
}
.voteTxt {
  color: rgb(181, 181, 179);
}

.productionSection {
  padding-top: 40px;
}
.statusSection {
  padding-top: 40px;
}

@media (max-width: 1024px) {
  .movieCard {
    display: flex;
    flex-direction: column;
  }
  .genres {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 20px;
  }
  .originalTitle {
    font-size: 14px;
  }
  .votesBox {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
