.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}

.backgroundImage {
  filter: blur(13px);
  transform: rotate(-20deg) scale(1.5);
  box-shadow: inset 0px 0px 300px rgba(0, 0, 0, 1),
    inset 200px -190px 400px rgba(0, 0, 0, 1);
}

.textContainer {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 50vw;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #b2b2b2;
}
@media (max-width: 1440px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .textContainer {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .textContainer {
    width: 100vw;
  }
}
